@media screen and (min-width:500px ) {
    header {
        color :#fff;
        background-color: #172c66;
        padding: 1rem;
    } 
  
    

.navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 

 .grid-container {  
    display: grid;
    grid-area: span;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	place-items: center; 
 } 
 p {
    text-overflow: none;
    text-align: center;
 }
 section img {
    width: 300px;
    height: auto;
 } 
 
 .navigation a {
		display: block;
		flex: 1 1 100%;
	}
 #menu {
		display: none;
	} }